<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} Elton's Blog</title>
    {{# page.description }}
    <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/elton/stylesheets/elton.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/assets/elton/stylesheets/fontello.css">
    <link href="/assets/elton/widgets/google_prettify/stylesheets/twitter-bootstrap.css" type="text/css"
          rel="stylesheet" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/elton/media/favicon.png">
    <link rel="apple-touch-icon" href="/assets/elton/media/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/elton/media/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/elton/media/apple-touch-icon-114x114.png">
</head>

<body class="full-layout">

<div class="body-wrapper">
    <!-- Begin Top Wrapper -->
    <div class="top-wrapper">
        <div class="inner">
            <!-- Begin Header -->
            <header>
                <!-- <div class="logo"><a href="/"><img src="/assets/elton/media/logo.png" alt=""/></a></div> -->
                <a href="/"><div class="logo"></div></a>
                <!-- Begin Menu -->
                <nav id="menu" class="menu">
                    <ul id="tiny">
                        <li><a href="/">Home</a></li>
                        {{# site.navigation?to_pages }}
                        {{> pages_list }}
                        {{/ site.navigation?to_pages }}
                    </ul>
                </nav>
                <!-- End Menu -->
                <div class="clear"></div>
            </header>
            <!-- End Header -->

        </div>
    </div>
    <!-- End Top Wrapper -->
    <!-- Begin Wrapper -->
    <div class="wrapper">
        <div class="inner light">
            {{{ content }}}
            <div class="clear"></div>
        </div>
    </div>
    <!-- End Wrapper -->

    <!-- Begin Footer Wrapper -->
    <footer>
        <!-- Begin Inner -->
        <div class="inner">
            <div class="one-third widget">
                <h3 class="widget-title">Links</h3>
                <ul class="post-list">
                    <li>
                        <h6><a href="http://17snk.com" target="_blank">17snk.com</a></h6>
                    </li>
                    <li>
                        <h6><a href="http://www.shuxia.cc" rel="friend met" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.shuxia.cc']);">苹果树下</a></h6>
                    </li>
                </ul>
            </div>

            <div class="one-third widget"> 
                <h3 class="widget-title">A Little About Me</h3>

                <p>I'm IT team manager / the Java/Go Language/C followers , also concerned about the Web front-end, server architecture(Linux), NoSQL databases, C1000K. And also I'm a <a href="http://eltonzheng.yupoo.com" target="_blank">photographer</a>!</p>

                <p></p>
            </div>
            <div class="one-third last widget">
                <h3 class="widget-title">Get In Touch</h3>

                <p>I worked in Shanghai Lookmedia Culture and Media Co., Ltd.</p>
                <i class="icon-location contact"></i> Shanghai, China <br/>
                <i class="icon-phone contact"></i> <a href="http://weibo.com/eltonzheng" target="_blank">@Elton郑振宇</a><br/>
                <i class="icon-mail contact"></i> <a href="mailto:elton.zheng.sh@gmail.com">elton.zheng.sh@gmail.com</a></div>
            <div class="clear"></div>
        </div>
        <!-- Begin Inner -->
    </footer>
    <!-- End Footer Wrapper -->

    <!-- Begin Sub Footer Wrapper -->
    <div class="subfooter">
        <script type="text/javascript">
        var nowd = new Date();
        var yf = nowd.getFullYear();                                     
        </script>
        <!-- Begin Inner -->
        <div class="inner">
            <p>Copyright &copy; 2009- <script type="text/javascript">document.write(yf);</script> <a href="http://blog.prosight.me">{{ site.author.name }}</a> 
                build with <a>Golang</a> <a href="https://github.com/wendal/gor" target="_blank">Gor</a>

            <ul class="social">
                <li><a href="/rss.xml" target="_blank"><i class="icon-s-rss"></i></a></li>
                <li><a href="https://github.com/elton" target="_blank"><i class="icon-s-github"></i></a></li>
                <li><a href="http://instagram.com/eltonzzy" target="_blank"><i class="icon-s-instagram"></i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Begin Inner -->
    </div>
    <!-- End Sub Footer Wrapper -->
</div>

<!-- baidu tongji -->
<div style="display:none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0501185c44c7cdadb2ba8b7e2c17d9f9' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<!-- google analytics //-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8990410-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script src="/assets/elton/javascripts/prettify.js"></script>
<script>
    var pres = document.getElementsByTagName("pre");
    for (var i=0; i < pres.length; ++i) {
        pres[i].className = "prettyprint ";
    }
    prettyPrint();
</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'zh-CN'}
</script>
</body>
</html>
